<div class="container">
	<div class="row">
		
		<div class="col-xs-12 text-center" id="top-bar">
			<h1> Burger Eatin' Time! </h1>
			<img class='img-responsive' src="/assets/images/burger.png" alt="burger" />
		</div>

		<div class="col-xs-12 text-center" class="task">
			<div class="row">
				
				<div id="readyToEat" class='col-lg-6'>
					{{#each burgers}} {{#unless this.devoured}}
					<div id="burger">
						<div class="alert alert-success" style='background-color: #3C7637' role="alert">
							<p>{{this.id}}. {{this.burger_name}}</p>
						</div>
						<form action="/{{this.id}}?_method=PUT" method="POST">
							<input type="hidden" name="devoured" value="1">
							<div class="buttons">
								<input type="text" placeholder="Who ate the burger?" name="eater" id="burger-eater">
								<button type="submit" id="devour-btn" class="btn btn-danger">Devour It!</button>
							</div>
						</form>
					</div>
					{{/unless}} {{/each}}
				</div>

				<div id="devoured" class='col-lg-6'>
					{{#each burgers}} {{#if devoured}}
					<div class="alert alert-danger" style='background-color: #b02727'role="alert">
						<div id="devoured-burger">
							<p>{{this.id}}. {{this.burger_name}} <strong>*Devoured!*</strong> (By: {{this.Eater.eater_name}})</p>
						</div>
					</div>
					{{/if}} {{/each}}
				</div>
			
			</div>
		</div>
		
		<div class="row">
			<div id="input" class='col-lg-12 text-center'>
				<form action="/" method="POST">
					<textarea name="name" id="burger-input" cols="50" rows="4"></textarea>
					<br>
					<button type="submit" class="btn btn-primary">Add a Burger!</button>
				</form>
			</div>
		</div>
	
	</div>